/* 首页css */

body {
    padding: 80px;
    background-color:#DEB887;
}


div.header {
    display: flex;
    padding: 30px;
    border: solid black 1px;
    border-radius: 6px;
}

div.headerLeft {
    flex: 1;
    margin-right: 50px;
}

div.title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

div.githubSource {
    color: #4682B4;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}



div.headerRight {
    display: flex;
    text-align: center;
    align-items: center;
}

div.headerRight div {
    padding: 10px 30px;
    border: solid 1px black;
    font-size: 25px;
    margin: 30px;
    border-radius: 6px;
    
}   

.userMessage {
    margin-top: 20px;
    padding: 30px;
    border: solid black 1px;
    border-radius: 6px;
}

.userMessageHeader {
    display: flex;

}

.headerIcon {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.body {
    display: flex;
}

.userBaseMessageName {
    margin-top: 20px;
    font-size: 20px;
    font-weight: 600;
}

.userBaseMessageQQ {
    margin-top: 20px;
    font-size: 16px;
    font-weight: 600;
    color: #666666;
}

.userMessageBody {
    margin: 10px;
    height: 400px;
    font-size: 15px;
    color: #999999;
}

.articleBody {
    display: flex;
    overflow: scroll;
    height: 660px;
}
.articleBody::-webkit-scrollbar {
    display: none;
}

.articleContainer {
    padding: 10px 80px;
    margin-left: 50px;
    border-bottom: dotted 1px #333333;
}

.articleHeaderDiv {
    display: flex;
    padding: 20px;
}

.articleHeadeTitlerDiv {
    margin-right: 20px;
    display: flex;
    flex-direction: column;
}

.articleTitle {
    margin-top: 10px;
    font-size: 22px;
    font-weight: bold;
}

.articleContent {
    flex: 1;
    font-size: 16px;
    color: #666666;
    margin-top: 10px;
}

.articleImg {
    width: 200px;
    height:140px;
    border-radius: 6px;
    margin: 10px;
}

.articleTime {
    margin-bottom: 10px;
    font-size: 14px;
    color: #999999;
}